<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Submissao - Novo evento</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui header">
			<div class="content">Cadastrar evento</div>
		</h2>
		<div class="ui stacked segments">
			<div class="ui left aligned segment">
				<a href="/admin/evento" class="ui blue basic button">
					<i class="chevron left icon"></i>
					Voltar
				</a>
			</div>
			<div class="ui segment">
				<form class="ui form" method="POST" enctype="multipart/form-data" th:object="${event}" th:action="@{/admin/evento/novo}">
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Artigo:
							</div>
							<input type="text" id="artigo" th:field="*{artigo}" placeholder="Artigo" required="required"/>
							<i class="talk icon"></i>
						</div>
					</div>
					<div class="field">
						<input type="submit" id="cadastrar" class="ui fluid blue button" value="Cadastrar"/>
					</div>
				</form>
			</div>
		</div>
		<div class="ui red message" th:if="${error}"><span th:text="${error}" /></div>
	</div>
</div>
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>