<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Submissoes - Início</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
	<div class="ui container segment">
		<div id="titleContainer" class="ui items">
			<div class="item">
				<div class="content">
					<h1 class="ui header">Lista de Eventos</h1>
				</div>
			</div>
		</div>
		<div class="ui divider clear"></div>
		<div class="ui divided items">
			<div class="item" th:each="event: ${events}">
				<div class="content">
					<a class="header" th:text="${event.id}" th:href="@{ /eventos/evento/{id}(id=${event.id}) }"></a>
					<div class="meta">
						<a th:href="@{ /eventos/evento/{id}(id=${event.id}) }" th:text="${event.artigo}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
