<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Submissão - Lista de Eventos</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
<div th:include="fragments/menu"></div>
<div class="ui container segment">
	<div class="ui fluid buttons">
		<a href="/inicio" class="ui button">Início</a>
		<div class="or" data-text="ou"></div>
		<a href="/eventos/listarEventos" class="ui disabled button">Todos os Eventos</a>
	</div>
</div>
<div class="ui container" th:if="${error}">
	<div class="ui red message transition"><i class="close icon"></i><span th:text="${error}"/></div>
</div>
<div class="ui container" th:if="${success}">
	<div class="ui green message transition"><i class="close icon"></i><span th:text="${success}"/></div>
</div>
<div class="ui container segment">
	<div id="titleContainer" class="ui items">
		<div class="item">
			<div class="content">
				<h1 class="ui header">Lista de Eventos</h1>
			</div>
		</div>
	</div>
	<div class="ui divider clear"></div>
	<div class="ui divided items">
		<div class="item" th:each="article : ${articles}">
			<div class="content">
				<div class="header">
					<span th:text="${article.evento.name}"></span>
					<span> - </span>
					<span th:text="${#dates.format(article.data, 'dd-MM-yyyy')}"></span>
					<span> - </span>		
					<span th:text="${article.evento.id}"></span>			
					<form th:action="@{/eventos/{id}/delete(id=${article.evento.id})}" method="POST">  						
  						<button type="submit" value="Submit">Deletar</button>  						
					</form>
				</div>
				<div class="meta" th:text="${article.evento.name}"></div>
				<div class="description" th:text="${article.resumo}"></div>
			</div>
		</div>
	</div>
</div>
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
